body * {
  display: flex;
}
body > script {
  display: none;
}
body {
  margin: 0;
  background-color: #ebf2f2;
}

svg {
  margin: auto 0;
  fill: rgb(46, 165, 3);
  height: 80%;
}

.base_padding {
  padding-left: 10vw;
  padding-right: 10vw;
}

input {
  border: 1px solid rgb(46, 165, 3);
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}
input:focus-visible {
  border-color: rgb(23, 54, 9);
  outline: none;
}

input.search {
  margin: 10px auto;
}

.items-wrapper {
  padding: 20px 10px;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}
@media (min-width: 1000px) {
  .items-wrapper {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
@media (max-width: 1000px) and (min-width: 800px) {
  .base_padding {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media (max-width: 800px) {
  .base_padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .content h1 {
    font-size: 40px;
  }

  .content span {
    font-size: 20px;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  padding-top: 5vh;
  background-color: white;
  box-sizing: border-box;
}

.content h1 {
  font-size: 56px;
  margin-bottom: 20px;
}
.content span {
  font-size: 24px;
  max-width: 960px;
}

.login {
  row-gap: 20px;
}

.login button {
  padding: 10px;
  color: rgb(46, 165, 3);
  background-color: rgb(245, 255, 240);
  border: 1px rgb(46, 165, 3) solid;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
}

.login button:hover {
  color: rgb(53, 112, 28);
  background-color: rgb(227, 247, 218);
  border-color: rgb(53, 112, 28);
}

.warning {
  font-size: 0.9rem;
  color: rgb(200, 9, 9);
}
